html {
  font-size: 10px;
}

html,
body {
  height: 100%;
<<<<<<< HEAD
=======
  padding: 0;
  margin: 0;
>>>>>>> a80b21bdea7f6dcaf133741bf446d642a0bd8dc3
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
